:root {
/* гланый заголововк цвет текста */
  --main-title-color: #fff;
  /* главний цвет текста */
  --primery-text-colot: #212121;
  /* вторичний цвет текста */
  --tiele-text-color: #757575;
  /* цвет акцент навидение на ссылку */
  --accent-color: #2196F3;
  /* цвет основной кнопки */
  --primery-button-colot: #fff;
  /* цвет логотипа вторичний хедер */
  --logo-header-color:#212121;
  /* цвет логотипа вторичний футер */
  --logo-footer-color:#fff;
}

/* html. студия */

ul{
  list-style-type: none;
  margin: 0;
  padding: 0;
}

/* html {
  box-sizing: border-box;
} */

*,
*::after,
*::before {
  box-sizing: inherit;
}

/* Стили для обнуления верхних отступов у элементов */
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

/* Класс для обнуления базовых свойств у списков (ul) */
/* .list {
  list-style: none;
  padding-left: 0;
  margin: 0;
} */

/* Класс для обнуления базовых свойств у ссылок */
/* .link {
  text-decoration: none;
  color: inherit;
} */

/* Свойства для корректного отображения картинок */
/* img {
  display: block;
  max-width: 100%;
  height: auto;
} */

/* хедер */

.header {
  background-color: #fff;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.5; 
   }

body {
    
    font-family: 'Roboto' , sans-serif;
    font-size: 14px;
    letter-spacing: 0.03em;
    background-color: #fff;
    color: var(--primery-text-colot);
}

/* site-nav цвет навигации */

.site-nav .link {
   display: block;
  padding-top: 32px;
  padding-bottom: 32px;
  
  color: var(--primery-text-colot);
  text-decoration: none;
}

.contact-site .contact-link{
    display: flex;
  padding-top: 32px;
  padding-bottom: 32px;
     margin-right: 50; 
    color: var(--tiele-text-color);

}


.contact-site {
display: flex;
margin-left: auto;
}


.site-nav .link:hover,
.site-nav .link:focus {
     color: var(--accent-color) ;
}


.site-nav .item:not(:last-child) {
margin-right: 50px;
}

.contact-site .item:not(:last-child) {
    margin-right: 50px;
    
  
}

.contact-heder-nav{
  display: flex;
  align-items: center;
}

.container .contact-heder-nav{
    display: flex;
    align-items: center;
  
}

.main-nav {
  display: flex;
  align-items: center;

}

.site-nav {
display: flex;
margin-left: 93px;

}

.site-nav .link.current {
  color: var(--accent-color);

}



.contact-link:hover,
.contact-link:focus {
     color:var(--accent-color);
    
}

.container {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}

/* .list{} */

.section{
  padding-top: 94px;
  padding-bottom: 94px;
}

/* < !-- герой-шапка сайта --> */
.hero {
  padding: 200px 0;
  background: #2F303A;
  text-align: center;
 }

.hero-title {
  color:#fff ;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  text-align:center; 
  margin:0 auto ; 
  width: 696px;
}
.hero-button {
color: #fff;
background-color: #2196F3;
font-weight: 900;
font-size: 44px;
line-height: 1.36;
}

.pointer{
  cursor: pointer;
  color: #fff;
  background-color: #2196F3;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 26px;
  letter-spacing: 0.03em;
  /* width: 26px;
    height: 6px; */
  /* width: 200px;
  height: 50px; */
  border-radius: 4px;
  /* margin-top: 50px; */
 }

 .pointer-main {
   cursor: pointer;
   color: #fff;
   background-color: #2196F3;
   font-style: normal;
   font-weight: 700;
   font-size: 16px;
   line-height: 30px;
   letter-spacing: 0.06em;
   width: 200px;
   height: 50px;
   border-radius: 4px;
   margin-top: 50px;
 }

 /* преймущество */

/* скритый заголовок Преймущуство */
.advantage{
display: none;
}

/* .title {
  padding-top: 24px;
padding-left: 24px;
} */

.advantage-list .title {
  width: 270px;
  margin-right: 30px ;
  color: var(--tiele-text-color);
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  margin-bottom: 10px;
  }

   .advantage-list{
    list-style-type: none;
    /* width: 270px; */
    /* height: 75px; */
    display: flex;
    justify-content:space-between;
    
       
    }

.advantage-title {
  font-size: 14px;
  line-height: 1.4;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  margin-bottom: 10px;
}

/* чем мы занимаемся */
.work-section{
  padding-top: 0;
}

.work-title {
  /* text-transform: uppercase; */
  text-align: center;
  font-size: 36px;
  line-height: 42px;
  letter-spacing: 0.03em;  
  margin-bottom: 50px;
}

.work {
  justify-content:space-between;
  list-style-type: none;
  display: flex;
  font-weight: wrap;
  /* flex-wrap: center;
  align-content:space-between;  */
    
  }

/* img {
  display: block;
  max-width: 100%;
  height: auto;
} */

 .work-images{
 list-style: none;
 display: inline-block;
  display: flex;
  align-items: center;
    justify-content: space-between;
     height: 294px; 
    /* margin-right: 30px; */
    /* margin-bottom: 30px; */
 }



/* наша команда */
.team {
  background-color: #F5F4FA ;
  justify-content: space-between;
    list-style-type: none;
    display: flex;
   
    text-align: center;
   
    
}

.team-text {
  color: var(--tiele-text-color);
  font-size: 16px;
  line-height: 1.8;
  letter-spacing: 0.03em;
  margin-bottom: 10px;
  background: #FFFFFF;
  border-radius: 0px 0px 4px 4px;
 
  padding-bottom: 30px;
}

.team .title {
font-weight: 700;
font-size: 36px;
line-height: 1.16;
letter-spacing: 0.03em;
 margin-bottom: 50px;

}

/* .team-img,
.team-title,
.team-text {
background: #FFFFFF;
border-radius: 0px 0px 4px 4px;
} */

.team-title {

font-weight: 500;
font-size: 16px;
line-height: 1.18;
letter-spacing: 0.03em;
padding-top:30px;
padding-bottom: 10px;
background: #FFFFFF;
border-radius: 0px 0px 4px 4px;
margin-top: -4px;
}

/* футер */

.footer {
    background-color: #2F303A;
    padding-top: 60px;
    padding-bottom: 60px;
  }
/* span logo color */
.color {
  color: var(--logo-header-color);
}

.color-studio {
  color:var(--logo-footer-color);
}

.logo-link {
color: var(--accent-color);
font-family: Raleway ;
text-decoration: none;
font-weight: 700;
font-size: 26px;
line-height: 1.19;
letter-spacing: 0.03em;
/* height: 60px; */

}

.footer-contact{
list-style-type: none;
padding-left: 0px;
margin-top: 20px;
margin-bottom: 9px;
/* margin-bottom: 60px; */
/* box-sizing:border-box; */

}


.address-link {
  
color: var(--main-title-color);
text-decoration: none;
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 1.71;
letter-spacing: 0.03em;

}

.contact-link {
  color: var(--tiele-text-color);
  text-decoration: none;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  
}



/* html. портфолио */

/* услуги */

.servisces-title{
  display: none;
  
}
.servisces-button{
justify-content: center;
  display: flex;
  margin-top: 94px;
  /* margin-bottom: 50px; */

    /* align-items: center; */
   
 
}
.title-button{
  /* display: center; */
  margin-right: 8px;
   /* margin-bottom: 50px; */

}

/* .servisces-button .title-button (:last-child) {
  margin-right: 0px;
 } */

 /* < !-- фото портфоліо --> */

 /* div */
/* .portfolio-img{
  width: 1200px; 
   padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto; 
  justify-content: flex-start;
   
} */

 /* ul */
.img-container {
  display: flex;
  flex-wrap: wrap;
  /* font-weight: wrap; */
  justify-content:space-between;
  gap: 30px;
  /* padding: 0; */
  padding-top: 94px;
  padding-bottom: 94px;
    /* background-color: tomato; */
    /* flex-basis: calc((100% - 30px) / 3); */
  }

  /* .img-portfolio:ntn-child(3n){
   margin-right: 0;
 }  */
  

/* li */
.img-portfolio {
  background: #FFFFFF;
  border: 1px solid #EEEEEE;
  list-style: none;
  /* flex-basis: calc((100% - 0px) / 3); */

}



.services .pointer:hover,
.services .pointer:focus {
  color: var(--primery-button-colot);
  background-color: #2196F3;
}

.services .pointer{
  cursor: pointer;
  color: var(--primery-text-colot);
  background-color:#F5F4FA;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  letter-spacing: 0.03em;
  border-radius: 4px;
  
}

.service .title{
  font-weight: 700;
  font-size: 18px;
  line-height: 3;
  letter-spacing: 0.06em;

}

.services .text {
  color: var(--tiele-text-color);
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.03em;

}
/* .title-portfolio {
  margin-top: 20px;
  margin-left: 24px;
} */

.title-text-portfolio{
 padding-top: 20px;
 padding-right: 24px;
 padding-bottom: 20px;
 padding-left: 24px;

  
}



